{
  :paths [
    ; before building, you need to turn those into absolute paths
    "src"
    "resources"
  ]

  :deps {
    org.clojure/clojure {:mvn/version "1.11.1"}
    ; replace also the version in metabase-plugin.yaml
    metabase/metabase-core {:git/url "https://github.com/metabase/metabase.git" :git/tag "v0.43.0-rc2" :git/sha "4bac723514"}
    metabase/build-drivers {:git/url "https://github.com/metabase/metabase.git" :git/tag "v0.43.0-rc2" :git/sha "4bac723514" :deps/root "bin/build-drivers"}
  }

  ; build the driver with `clojure -X:build` assumes that:
  ; 1. You have turned the relative :paths above into absolute paths
  :aliases {
       :build {
       :exec-fn    build-drivers.build-driver/build-driver!
       :exec-args  {:driver      :teradata
                    :project-dir "."
                    :target-dir  "./target"}

    }
    ; We don't want to include metabase nor clojure in the uber jar
    :oss {:replace-deps  {} }
  }
}