{
  :paths [
    ; before building, you need to turn those into absolute paths
    "src"
    "resources"
  ]

  ; build the driver with `clojure -X:build` assumes that:
  ; 1. the metabase repo (https://github.com/metabase/metabase) exists in ../metabase
  ; 2. the correct tag is checked out `git checkout v...`
  ; 3. `clojure -X:deps prep` was run in ../metabase as well as in ../metabase/modules/drivers
  ; 4. You have turned the relative :paths above into absolute paths
  :aliases {
    :build {
       ;; as soon as extra-deps supports prep-lib we can use {:git/url "https://github.com/metabase/metabase.git" :git/tag "v0.41.7" :git/sha "5d45269b16"}
       :extra-deps {metabase/metabase-core {:local/root "../metabase"}
                    metabase/build-drivers {:local/root "../metabase/bin/build-drivers"}}
       :exec-fn    build-drivers.build-driver/build-driver!
       :exec-args  {:driver      :teradata
                    :project-dir "."
                    :target-dir  "./target"}

    }
  }
}